%h1 Razor project
%p  This is the home page for the Razor project.

%ul
  %li=link_to "Home", root_path
  - if user_signed_in?
    %li=link_to "Sign out", destroy_user_session_path, method: :delete
  - else 
    %li=link_to "Sign in", new_user_session_path
    %li=link_to "Sign up", new_user_registration_path

    
