<h1>Project name: <%= @project.name %></h1>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>


<p>
  <%= link_to "Back to projects", projects_path %> 
</p>
<p>
  <%= link_to "Home", root_path %> 
</p>
